* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}




.read-more {
  font-size: 17px;
}

.user-icon {
  font-size: 26px;
}

/* 
.card-header::after {
  content: "";
  width: 60px;
  border: 1px solid #ecd300;
  position: absolute;
  top: 40px;
} */
button.cartbtn {
  background-color: #f0231f;
  border: none;
  border-radius: 50px;
  padding: 10px 33px;
  font-size: 20px;
}