@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000000;

}

body {
  margin: 0;
  width: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: green;
  cursor: pointer;
}

a:hover {
  color: green;
}

.modelcard-image {
  width: 100%;
  height: 130px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.csrimg img {
  width: 160px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #00000066;
}

.carousel-control-next, .carousel-control-prev {
  height: 50px;
  top: 45%;
}

.card.mb-3 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 96%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}