@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Croissant+One&family=Poppins:wght@400;500;600&family=Style+Script&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000000;
  font-size: 14px;

}

body {
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.card {
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  background: #6d6f72;
  color: white;
  padding: 12px;
}

.card-header a {
  color: #fff !important;
}

.card-header svg {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #6d6f72;
  cursor: pointer;
}

a:hover {
  color: green;
}

.modelcard-image {
  width: 100%;
  height: 130px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.csrimg img {
  width: 160px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #00000066;
}

.carousel-control-next, .carousel-control-prev {
  height: 50px;
  top: 45%;
}

.card.mb-3 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 96%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.card-body.card-scroll {
  max-height: 550px;
  overflow: auto;
}