.birthday-wish {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* .birthday-wish .wish {
    background: #3d3c3c;
    height: 198px;
    margin: 0;
} */

.birthday-wish .card-header {
    background: transparent;
    /* border-color: #fff !important; */
    color: #f0231f;
    font-size: 22px;
    padding: 8px;
    font-weight: bold;
}

.wish-card {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    /* background-color: #6d6f72; */
    padding-bottom: 0;
    /* background-image: url(public/birthday-cake.png); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border: 1px solid #6d6f72;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.wish-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.wish-content {
    text-align: center;
}


/* User Image - Positioned partially outside the box */
.user-image {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.user-image img {
    width: 60px;
    height: 60px;
    border: 3px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #d9d9d9;
}

/* Content Styling */
.title {
    font-weight: bold;
    margin-top: 23px;
    /* font-family: "Croissant One", serif; */
    /* color: #f0231f; */
}

.message {
    margin-bottom: 0;
}

/* .info {
    display: flex;
    gap: 20px;
    align-items: center;
} */

.icon {
    margin-right: 5px;
    color: #f0231f;
}

/* Send Wish Button - Positioned partially outside the bottom */
.send-wish-btn {
    position: relative;
    top: 16px;
    background-color: #f0231f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    transition: transform 0.2s;
    bottom: 0;
}

.birthday-wish .carousel-inner {
    overflow: visible;
}


