.bg-light {
    padding: 12px;
    background-color: #fff !important;
}

.bg-main {
    background-color: #fff !important;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

/* .nav-link {
    color: #fff !important;
} */

.navbar-icon {
    font-size: 1.8rem;
}

ul.navbar-nav li.nav-item {
    margin: 0 10px;
}

.search-form input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #d9d9d9;
}

.search-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    /* Aligns the submenu to the right */
    margin-top: -1px;
    display: none;
    /* Initially hidden */
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    /* Show on hover */
}

.third-level-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

a.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submenu-arrow {
    transition: transform 0.3s ease;
    transform: rotate(270deg);
}

/* Rotate the arrow on hover */
.dropdown-item:hover .submenu-arrow {
    transform: rotate(90deg);
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #6d6f72;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6d6f72;
    transition: all .3s;
}

.social-icons a:hover {
    color: #6d6f72;
    background-color: transparent;
    border-color: #6d6f72;
}