.modal-title.h4 {
    font-size: 14px;
}

.modal-body video, image {
    width: 100%;
    height: 300px;
}

button.btn-close {
    top: 15px;
    position: absolute;
    right: 15px;
    font-size: 12px;
}

.likencmt {
    display: flex;
    justify-content: space-between;
}

.comments-section {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.comments-section.show {
    max-height: 500px;
    opacity: 1;
}

.like-icon.loading {
    animation: spin 1s linear infinite;
    /* Rotation effect */
}

/* Keyframes for the spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.comment-input {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.comment-input input {
    flex: 1;
}

.comment-input button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #0a66c2;
    /* LinkedIn #00659b */
}

.list-unstyled li img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 1px solid #ccc;
}

.modal-footer {
    justify-content: space-between;
}

.add-comment-box {
    display: flex;
}

.add-comment-box svg {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 8px;
}